[submodule "public/lib/socketio"]
	path = public/lib/socketio
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "lib/node-mjpeg-proxy"]
	path = lib/node-mjpeg-proxy
	url = git://github.com/chrisirhc/node-mjpeg-proxy.git
