#videofeed
#stats
  #hpbox HP:
    span#hpval
  #speedbox Speed:
    span#speedval
#bottombar
  #display Idle
  p Use arrow keys. Press spacebar to stop
#radarcontainer
  #radar
  #radaroverlay
#hitscreen
script window.CONTROLLER_NUMBER = #{roombaId};
script(src="/lib/raphael-min.js")
script(src="/lib/g.raphael-min.js")
script(src="/lib/g.pie-min.js")
script(src="/js/controlscript.js")
