#videofeed
#stats
#bottombar
  #display Idle
  p Use arrow keys. Press spacebar to stop
#radar
script window.CONTROLLER_NUMBER = #{roombaId};
script(src="/lib/raphael-min.js")
script(src="/js/controlscript.js")
