<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Royal Roomba</title>
<script src="/lib/jquery.min.js"></script><script src="/lib/socketio/socket.io.js"></script>
<link rel="stylesheet" href="../public/css/style.css"/>
</head>
<body id="roomba<%= roombaId %>">
<div class="videofeed"></div>
<div id="topbar-player">
  <div id="roomba1-hp-container">
    <div id="roomba1-hp" class="hpbox">
      <div class="hpval"></div>
    </div>
    <div class="hplabel">00</div>
  </div>
  <div id="roomba2-hp-container">
    <div id="roomba2-hp" class="hpbox">
      <div class="hpval"></div>
    </div>
    <div class="hplabel">00</div>
  </div>
  <div id="timer"><span>Timer here</span></div>
</div>
<div class="stats-player">
  <div class="speedbox">
    <div class="speedval"></div>
    <div class="speedlabel">Speed</div>
  </div>
</div>
<div class="radarcontainer">
  <div class="radar"></div>
  <div class="radaroverlay"></div>
</div>
<div class="stunscreen"></div>
<div class="hitscreen"></div>
<script>window.CONTROLLER_NUMBER = <%= roombaId %>;</script> 
<script src="/lib/raphael-min.js"></script><script src="/lib/g.raphael-min.js"></script><script src="/lib/g.pie-min.js"></script><script src="/js/controlscript.js"></script>
</body>
</html>
