html {
  height: 100%;
}
body {
	font-family: "Myriad Pro", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#topbar {
  position: absolute;
  width: 100%;
}

#timer {
  height: 124px;
  width: 172px;
  background: url(../images/timer-bg.png) center center;
  margin: auto;
  font-size: 30px;
  position: relative;
}

#timer span {
  display: block;
  position: absolute;
  top: 50px;
  text-align: center;
  padding: auto;
  margin: auto;
  height: 10px;
  width: 100%;
}

.roomba {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.bottombar {
  width: 100%;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: #FC0;
	background-color: #000;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.display {
}

.stats {
	position: absolute;
	bottom: 40px;
	background-color: #666;
	width: 100%;
}

.hpbox {
	height: 20px;
	position: relative;
}

.speedbox {
	height: 20px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000;
	position: relative;
}
.hplabel {
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	vertical-align: middle;
	z-index: 1000;
}

.speedlabel {
	color: #FFF;
	font-size: 14px;
	vertical-align: middle;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 1000;
}
.hpval {
	background-color: #0F0;
	width: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 20px;
}
.speedval {
	background-color: #F90;
	height: 20px;
	width: 100px;
	position: absolute;
	left: 0px;
	top: 1px;
}


.videofeed {
  top: 0px;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.videofeed img {
  width: 100%;
  height: 100%;
}

.bottombar p {
  font-size: 12px;
	text-align: center;
  margin: 0;
  color: #ccc;
}
.radarcontainer {
  position: absolute;
	height: 200px;
	width: 200px;
	overflow: none;
	right: 0;
	bottom: 100px;
}

#roomba1 .radarcontainer {
  right: auto;
  left: 0;
}

.radaroverlay {
  position: absolute;
  height: 200px;
  width: 200px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.radar {
	position: absolute;
	width: 200px;
	height: 200px;
}

.hitscreen, .stunscreen {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: red;
	opacity: 0;
	font-size: 320px;
	text-align: center;
}

.stunscreen {
  background: blue;
}

#roomba1 {
  background: #000;
}

#roomba2 {
  background: #fff;
}
