html {
  height: 100%;
}
body {
	font-family: "Myriad Pro", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#bottombar {
  width: 100%;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: #FC0;
	background-color: #000;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#display {
}

#stats {
  position: absolute;
  bottom: 50px;
	text-shadow: 0px 0px 2px #fff;
}

#videofeed {
  background: #999;
  top: 0px;
  width: 100%;
  height: 100%;
}

#videofeed img {
  width: 100%;
  height: 100%;
}

#bottombar p {
  font-size: 12px;
	text-align: center;
  margin: 0;
  color: #ccc;
}
#radarcontainer {
  position: absolute;
	height: 200px;
	width: 200px;
	overflow: none;
	right: 0;
	top: 0;
}
#radaroverlay {
  position: absolute;
  height: 200px;
  width: 200px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#radar {
	position: absolute;
	width: 200px;
	height: 200px;
}
#hitscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	opacity: 0;
}
